*{
    padding :0;
    margin:0;
    box-sizing: border-box;
}
body{
    /* background-color:gray; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/image/Book_Dic.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
   
  }
  nav{
    width: 100vw;
    height: 100px;
    display: flex;
    box-shadow: 2px 5px 5px #ccc;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
h2{
  display: block;
  font-style: italic;
  color:#fff;
}
h2 > span{
  color: #5E18F2;
}

#left-menu{
  margin-left: 30px;
}
#left-menu span{
  margin-left: 10px;
}
#menu-items{
  width : 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  list-style-type: none;
}
.btn{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  margin: 20px;
}
#history-list{
  list-style-type: none;
  color: #e1e1e9;
  margin: 10px;
  padding: 10px;
}
#clear-history-btn{
  background-color: #2ab36e; /* Green */
  border: none;
  color: rgb(228, 238, 240);
  padding: 15px 32px;
  text-align: center;
  text-decoration: darkcyan;
  display: inline-block;
  font-size: 10px;
  border-radius: 14px;
  cursor: pointer;
}

.container{
    background-color:rgb(224, 100, 100);
    width:90vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow:0 20px 40px rgba(22, 163, 69, 0.2);

}
.search-box input{
  padding:5px;
  width:70%;
  border:none;
  outline:none;
  border-bottom:1px solid rgb(199, 17, 17);
  font-size: 16px;
}
.search-box button{
  padding: 15px 0;
  width: 25%;
  background-color: #3a2888;
  border: none;
  outline: none;
  color: #f1ecec;
  border-radius: 12px;
}

.result{
  position: relative;
}
.result h3{
  font-size: 30px;
  color: #3c3479fb;
}
.result .word{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button{
  background-color: transparent;
  color: #ae9cff;
  border:none;
  outline: none;
  font-size: 18px;
}
.result .details{
  display: flex;
  gap: 10px;
  color: #ecfaf4;
  margin:5px 0 20px 0;
  font-size: 14px;
}
.word-meaning{
  color:#e9f3e9;
}
.word-example{
  color:#e1e1e9;
  font-style: italic;
  border-left: 5px solid #008829;
  padding-left: 20px;
  margin-top:30px;
}
.error{
  margin-top:80px;
  text-align: center;
}
